/* PC */
@media (min-width: 992px) {
	.mobile-header {
		display: none;
	}
}

/* Tablet & mobile */
@media (max-width: 991.98px) {
	/* 1. ẩn navbar */
	.header-nav {
		display: none;
	}

	/* 2. chuyển logo vào giữa */

	.header-top {
		position: relative;
	}

	.header-logo__img {
		position: absolute;
		left: 50%;
		translate: -50% -50%;
	}

	/* 3. căn lại vị trí của menu icon */
	.menu-header__icon {
		width: 24px;
		/* height: 30px; */
		position: absolute;
		top: 38px;
		left: 26px;
		color: #fff;
	}

	/* 4. overlay */
	.menu-overlay {
		position: fixed;
		background: rgba(0, 0, 0, 0.3);
		inset: 0;
		z-index: 1;
		/* bình thường ẩn overlay đi */
		opacity: 0;
		visibility: hidden;
		transition: 0.3s;
	}

	/* 5. kiểm tra nếu checkbox được check thì hiện overlay */
	.menu-checkbox:checked ~ .menu-overlay {
		opacity: 1;
		visibility: visible;
	}

	/* 6. code cho menu drawer */
	.menu-drawer {
		position: fixed;
		background: #2e1919;
		inset: 0 40% 0 0;
		z-index: 2;
		transform: translateX(-100%);
		transition: 0.3s;
		padding: 60px;
	}

	/* 7. kiểm tra nếu checkbox được check thì hiện menu */
	.menu-checkbox:checked ~ .menu-drawer {
		transform: translateX(0);
	}

	/* 8. top menu */
	.close__menu {
		width: 24px;
		color: #fff;
	}

	.menu-drawer__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#header-menu__list--mobile {
		margin-top: 25px;
	}

	.header-menu__link {
		display: block;
		font-size: 2rem;
	}

	.header-menu__link:hover {
		background: #00ffff37;
	}

	/* khoi hero */
	.hero {
		flex-direction: column;
		row-gap: 50px;
	}

	.hero-media {
		order: 1;
	}

	.hero-content {
		order: 2;
		width: 80%;
		text-align: center;
		margin: 22px auto;
	}

	.hero-content__cta {
		justify-content: center;
	}

	/* khối service */
	.service-row {
		flex-direction: column;
		row-gap: 20px;
	}

	.service-row__img {
		width: 100%;
	}

	.service-row__item {
		width: 90%;
		text-align: start;
	}

	.service-row__list {
		text-align: center;
	}

	/* work list */
	.work-list {
		grid-template-columns: 1fr;
		row-gap: 30px;
	}

	/* about */
	.about-body {
		flex-direction: column;
		row-gap: 30px;
	}

	.about-media__img--small {
		display: none;
	}

	.about-media {
		width: 100%;
		padding-bottom: 25px;
	}

	.about-media__img--big {
		width: 100%;
		border-radius: 15px;
	}

	.about-content {
		width: 90%;
		text-align: center;
	}

	/* team */
	.team-list {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 30px;
	}

	/* cta */
	.cta-inner {
		flex-direction: column;
	}

	.cta-media__img {
		display: none;
	}

	.cta-content {
		margin: auto;
	}

	/* blog */
	.blog-inner {
		flex-direction: column;
		row-gap: 30px;
	}

	.blog-list {
		order: 1;
	}

	.blog-content {
		width: 90%;
		order: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
	/* footer */
	.footer-hidden__tablet {
		display: none;
	}

	.footer-top {
		grid-template-columns: 0.5fr 0.5fr 1fr;
	}

	.show-on-mobile {
		display: none;
	}
}

/* Mobile */
@media (max-width: 767.98px) {
	/* menu */
	.header-cta {
		display: none;
	}

	.menu-header__icon {
		top: 16px;
	}

	.menu-drawer {
		inset: 0 20% 0 0;
		padding: 40px;
	}

	.header-menu__item {
		list-style: none;
		margin-top: 10px;
	}

	/* gạch ngang */
	.separate {
		border-top: 1px solid #8c8b8b;
		margin-top: 10px;
	}

	/* hero */
	.hero-media__img--small {
		display: none;
	}

	.hero-media__img--big {
		width: 100%;
		height: auto;
	}

	.hero-content__heading {
		font-size: 3rem;
	}

	.hero-content__cta {
		flex-direction: column;
		row-gap: 30px;
	}

	.hero-content__call {
		margin: 0;
	}

	/* services */
	.services {
		margin: 0;
	}

	.service-top__desc {
		width: 100%;
	}

	.service-row__img {
		height: auto;
	}

	/* work */
	.work {
		margin: 0;
	}

	.work-top {
		text-align: center;
	}

	.work-top__desc {
		width: 100%;
	}

	.work-item {
		padding: 20px;
	}

	/* about */
	.about {
		margin: 0;
		padding: 30px 0;
	}

	.about-content__heading {
		font-size: 3rem;
	}

	/* team */
	.team-list {
		grid-template-columns: 1fr;
	}

	/* cta */
	.cta {
		margin: 20px 0;
	}

	.cta-inner {
		padding: 20px 10px;
		height: auto;
	}

	.cta-content__heading {
		font-size: 3rem;
		width: 100%;
	}

	.cta-content__desc {
		font-size: 1.3rem;
	}

	/* blog */
	.blog-list {
		flex-direction: column;
		row-gap: 30px;
	}

	.blog-content__heading {
		font-size: 3rem;
		text-align: center;
	}

	/* welcome */
	.welcome-inner {
		margin: 0;
		padding: 30px 5px;
	}

	.welcome-inner__heading {
		font-size: 3rem;
	}

	.welcome-inner__desc {
		width: 100%;
	}

	/* footer */
	.footer-top {
		grid-template-columns: 1fr;
		row-gap: 30px;
	}

	.copyright {
		margin-top: 20px;
	}
}
